name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Node
      uses: actions/setup-node@v3
      with:
        node-version: "18"

    - name: Install Bubblewrap CLI
      run: npm install -g @bubblewrap/cli

    - name: Generate TWA Project
      run: |
        bubblewrap init --manifest=https://your-website-url.com/manifest.json

    - name: Build APK
      run: |
        bubblewrap build
        ls ./build

    - name: Upload APK Artifact
      uses: actions/upload-artifact@v3
      with:
        name: app-apk
        path: ./build/app-release-signed.apk
